@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";



$cool-red: #677ef0 !default;
$forest-green: #4a7a20 !default;
$dark-green: #084712 !default;

$theme-colors: map-merge((
  "cool-red":    $cool-red,
  "forest-green": $forest-green,
  "dark-green": $dark-green
), $theme-colors);

@import "../../node_modules/bootstrap/scss/bootstrap";
